<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <compilation debug="false" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
      <buildProviders>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider" />
      </buildProviders>
    </compilation>
  </system.web>
  <connectionStrings>
    <add name="NewsletterEntities" connectionString="metadata=res://*/App_Code.DataStore.NewsletterModel.csdl|res://*/App_Code.DataStore.NewsletterModel.ssdl|res://*/App_Code.DataStore.NewsletterModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ServerName;initial catalog=DatabaseName;user id=UserName;password=Password;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CSRConnectionString" connectionString="Data Source=ServerName;Initial Catalog=DatabaseName;Persist Security Info=True;User ID=UserName;Password=Password" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory">
        <specifiedPickupDirectory pickupDirectoryLocation="C:\inetpub\mailroot\pickup" />
      </smtp>
    </mailSettings>
  </system.net>
  <appSettings>
    <add key="GlendaleConnectsNewsletterID" value="2" />
    <add key="VendorIcontactID" value="1" />
  </appSettings>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="NewsletterStorefront.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>